*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;

}
.App div{
  background-color: burlywood;
  height: 650px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  border-radius: 10px;
  padding: 20px;

  
   

}
.App{
  display: flex;
  justify-content: center;
  align-items: center;       
  height: 100vh; 
 
}
.App input{
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  width: 80%;
  outline: none;
  border: 2px solid rgb(91, 58, 35);
}
.App button{
  background-color: rgb(91, 58, 35);
  border-radius: 10px;
  padding: 15px 0px;
  color: aliceblue;
  width: 30%;
  border: none;

}
.App h1{
  color: rgb(91, 58, 35);
}
