*{
    font-family: 'Times New Roman', Times, serif;
    padding: 0%;
    margin: 0%;
}
.App{
   
    background-image: url('../assets/choco.jpg');
    background-size: 100%;   
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    

}
.App h1{
    padding: 20px 0;
    text-align: center;
    color: rgb(91, 58, 35);
    font-size: 40px;
    
}
.form input{
    margin: 20px 0;
    width: 70%;
    height: 30px;
    outline: none;
    border-radius: 3px;
    border: none;
    padding: 5px;
    
}
.form button{
    padding: 10px;
    background-color: rgb(91, 58, 35);
    width: 15%;
    margin: 20px 0;
    border-radius: 10px;
    outline: none;
    border: none;
    color: rgb(221, 219, 219);
   
}

.list li p{
    padding: 5px 0;
}
.list li button{
   padding: 10px;
    background-color: rgb(91, 58, 35);
    width: 35%;
    margin: 20px 0;
    border-radius: 10px;
    outline: none;
    border: none;
    color: rgb(221, 219, 219);
    
    
}

.container{
    width: 60%;
    background-color:burlywood;
    padding: 50px;
    border-radius: 10px;
    
   
}
.list{
   
    list-style-type: none;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.listmain {
  display: flex;
  justify-content: center;  
  /* width: 100%;               */
  
}


.list {
  width: 80%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;

}


.list li {
  background-color: aliceblue;
  padding: 20px;
  width: 48%;
   height: auto;
    margin: 20px 0 ;
    box-shadow: rgb(91, 58, 35) 0px 50px 100px -20px, rgb(91, 58, 35) 0px 30px 60px -30px, rgb(91, 58, 35) 0px -2px 6px 0px inset;
    
    
}
.btn{
    display: flex;
   justify-content: space-between;
}